<div class="container" style="background-color: #fff">
  <div id="myModal" role="Add and Remove note" >
   
    <div class="dialog">
    
      <!-- Modal content-->
      <div class="content">
        <div class="header">
         <h5>UPDATE</h5>
          
        </div>
        <div class="body">

            <div class="align"><label class="lab">Item Name:</label><div><input type="text" class="notes_text" [(ngModel)]="item.name"></div></div>
            <div class="align"><label class="lab">Comp Name:</label><div><input type="text" class="notes_text" [(ngModel)]="item.component"></div></div>
            <div class="align"><label class="lab">Part Name:</label><div><input type="text" class="notes_text" [(ngModel)]="item.parts"></div></div>
            <div class="align"><label class="lab">Pane Name:</label><div><input type="text" class="notes_text" [(ngModel)]="item.panel"></div></div>

        </div>
        <div class="footer"  >
          <button type="button" class="btn" (click)="update(item)">Update</button>
          <button class="btn" (click)="back()">BACK</button>
        </div>
      </div>
      
    </div>
  </div>


    
</div>
